* {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid black;
}

nav {
	justify-content: space-between;
    align-items: center;
    display: none;
}

nav > * {
	margin-right: 3rem;
}

nav span {
	color: red;
}

nav button {
	background-color: black;
    border: none;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
}

main {
	width: 100%;
	margin-top: 1rem;
	min-height: 100vh;
	border: 10px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "game1"
        "game2"
        "game3"
        "game4"
        "game5"
        "game6"
        "game7"
        "game8";
}

section {
    position: relative;
}

section span:nth-child(2) {
    background-color: red;
    padding: 0.6rem;
    position: absolute;
    left: 0;
}

.game1 {
    grid-area: game1;
}

.game2 {
    grid-area: game2;
}

.game3 {
    grid-area: game3;
}

.game4 {
    grid-area: game4;
}

.game5 {
    grid-area: game5;
}

.game6 {
    grid-area: game6;
}

.game7 {
    grid-area: game7;
}

.game8 {
    grid-area: game8;
}

section > img {
    width: 100%;
    height: 100%;
}

header .logo img {
    width: 50px;
    border-radius: 50%;
}

@media screen and (width >= 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "game1 game2"
            "game3 game4"
            "game5 game6"
            "game7 game8";
    }
}

@media screen and (width >= 1024px) {
    nav {
        display: flex;
    }

    main {
        
        grid-template-columns: repeat(5, 1fr);

    
        grid-template-areas:
            "game1 game1 game2 game3 game4"
            "game1 game1 game6 game7 game4"
            "game1 game1 game5 game8 game8"
        ;
    }

    .logo ~ span {
        display: none;
    }
}